.oredict-import-update-hint-label {
    font-size: x-small;
    padding-top: 0.5em;
    color: #666666;
}

.oredict-import-textarea textarea {
    width: 150%;
}

.oredict-import-update {
    padding-top: 10px;
    vertical-align: bottom;
}